:root {
    --bluem: #031A6B;
    --orangem: #FF9402;
  }

  .top-back {
  
    background-color: var(--bluem);
  }
  .nav-link.top-nav-item {
    color: white !important;
  }
  .mobile-top-nav-text{
    font-size: 12px;
    justify-content: center !important;
  }
  .desktop-top-tx{
    font-size: 18px;
    font-weight: 600;
  }